<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 id="tasklist-header">Task List</h1>
    {{tasks}}
    <button class="btn btn-default" id="addTaskButton" [routerLink]="['/addtask']">Add Task</button>
   <table class='table' *ngIf="tasks">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td id="name_{{ task.id }}">{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.priority }}</td>
                <td>
                    <div *ngIf="task.completed == 'N'">
                        <button id="completed_{{ task.id }}" class="btn btn-danger" #elem (click)="onStatusUpdate(elem.id)">
                            <span class="glyphicon glyphicon-remove" id="span_{{ task.id }}"></span>
                        </button>
                    </div>
                    <div *ngIf="task.completed == 'Y'">
                        <button id="incomplete_{{ task.id }}" class="btn btn-success" #elem (click)="onStatusUpdate(elem.id)">
                            <span class="glyphicon glyphicon-ok" id="span_{{ task.id }}"></span>
                        </button>
                    </div>
                </td>
                <td>
                    <button id="{{ task.id }}" class="btn btn-info" [routerLink]="['/updatetask', task.id]">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button id="{{ task.id }}" class="btn btn-danger" #elem (click)="onDelete(elem.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    
                    

                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>